* { box-shadow: border-box; }

body {
    padding: 16px;
    margin: 0;
}

a {
    color: #0099cc;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td.actions a {
    text-decoration: none;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #ccc;
}

td.actions a:last-child {
    border-right: none;
    margin-right: 0;
}
