* { box-shadow: border-box; }

body {
    padding: 16px;
    margin: 0;
}

a {
    color: #0099cc;
}

.search-input {
    outline: none;
    margin-bottom: 14px;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.htmx-indicator {
    display: none;
    opacity: 0;
    color: #494949;
    margin: 12px 0;
}

.htmx-indicator.htmx-request {
    display: block;
}

.htmx-indicator img {
    margin-right: 5px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td.actions a {
    text-decoration: none;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #ccc;
}

td.actions a:last-child {
    border-right: none;
    margin-right: 0;
}
